@charset 'UTF-8';

// JS無効時のスタイル
[data-script-enabled="false"] {
    .carousel {
        display: flex;
        flex-wrap: wrap;

        &__inner {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            width: 48%;

            &:nth-child(odd) {
                margin-right: 4%;
            }
        }
    }
}

.carousel {
    position: relative;
    margin-bottom: 50px;

    &__slide-wrap {
        overflow: hidden;
    }

    &__slide-inner {
        position: relative;
        top: 0;
        left: 0;
        transition-property: left;
    }

    &__wrap {
        width: 100%;
        top: 0;
        left: 0;
    }

    &__item {
        transition-duration: 0s;
    }

    &__next,
    &__prev {
        position: absolute;
        top: 50%;
        z-index: 1;
        overflow: hidden;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #000;
        cursor: pointer;
        transform: translateY(-50%);
        color: #fff;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            content: '';
        }

        > span {
            margin-left: -200px;
        }
    }

    &__prev {
        left: 0;

        &::before {
            top: 14px;
            left: 15px;
            transform: rotate(-135deg);
        }
    }

    &__next {
        right: 0;

        &::before {
            top: 14px;
            left: 11px;
            transform: rotate(45deg);
        }
    }

    &__player-wrap {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    &__indicator-wrap {
        display: flex;

        > li {
            list-style: none;
            display: flex;
            align-items: center;

            &:not( :last-child) {
                margin-right: 10px;
            }
        }
    }

    &__indicator {
        position: relative;
        width: 15px;
        height: 15px;
        background-color: #777;
        border-radius: 50%;
        overflow: hidden;

        &.is-active {
            background-color: #000; 
        }
    }
    .indicator-index {
        position: absolute;
        top: 30px;
        left: -30px;
    }

    &__play {
        position: relative;
        display: block;
        overflow: hidden;
        width: 11px;
        height: 14px;
        margin-left: 10px;

        &::before {
            position: absolute;
            width: 11px;
            height: 14px;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #333;
            border-left: 10px solid transparent; 
            transform-origin: center;
            transform: translate(-50%, -50%) rotate(90deg);
            content: '';
        }

        > span {
            position: absolute;
            top: 20px;
        }
    }

    &__pause {
        // position: relative;
        // display: block;
        overflow: hidden;
        width: 11px;
        height: 14px;
        margin-left: 10px;

        &::before {
            position: absolute;
            width: 11px;
            height: 14px;
            border-left: 3px solid #333;
            border-right: 3px solid #333;
            transform: translate(-50%, -50%);
            content: '';
        }

        > span {
            position: absolute;
            top: 20px;
        }
    }
}