@charset "UTF-8";

.container {
  &__inner {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
  }
}

.carousel {
    &__item {
        width: 100%;
    }
}

.character {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

img {
  width: 100%;
}